/META-INF/
/com/
/model/
/rest/
/service/
/rest/
/rest/
/rest/
/rest/
/rest/
/rest/
/rest/
/com/
/service/
/service/
/rest/
/rest/
/rest/
/rest/
/service/
/com/
/service/
/service/
/com/
/service/
/com/
/com/
/com/
/rest/
/rest/
/com/
/com/
/rest/
/rest/
/rest/
/com/
/com/
/com/
/service/
/rest/
/service/
/com/
/rest/
/rest/
